body {
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'Inter', serif;
  color: #636363;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', serif;
  line-height: 1.2;
  color: #000;
}

.font-work-sans {
  font-family: 'Work Sans', sans-serif;
}

.font-inter-sans {
  font-family: 'Inter', serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.custom-bg {
  background: url('../images/login-image.jpg') left bottom no-repeat scroll,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(153, 153, 153, 0.03) 100%
    );
  background-size: cover;
  background-position: top center;
}

/* planned visit card grid css */
.pv-tabs {
  .active {
    font-weight: 500;
    color: #000;
  }

  .active:after {
    background-color: #202020;
    height: 3px;
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

.pv-s-card {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-areas:
    'client pickuppoint date'
    'address time status'
    'driver driver pdf';
  row-gap: 15px;
  padding: 10px;
}

.pv-pickuppoint {
  grid-area: pickuppoint;
}

.pv-client {
  grid-area: client;
}
.pv-address {
  grid-area: address;
}
.pv-time {
  grid-area: time;
}
.pv-date {
  grid-area: date;
}
.pv-pdf {
  grid-area: pdf;
  align-self: center;
  justify-content: center;
  border-bottom: 0 !important;
}
.pv-status {
  grid-area: status;
}
.pv-driver {
  grid-area: driver;
  border-bottom: 0 !important;
}

.pv-s-card > div {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

/* job board grid css */
.jb-s-card {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-areas:
    'jobid place status'
    'time date address'
    'driver driver driver'
    'comment comment pdf';

  gap: 15px;

  .jb-jobid {
    grid-area: jobid;
  }

  .jb-place {
    grid-area: place;
  }
  .jb-address {
    grid-area: address;
  }
  .jb-time {
    grid-area: time;
  }
  .jb-date {
    grid-area: date;
  }
  .jb-pdf {
    grid-area: pdf;
  }
  .jb-status {
    grid-area: status;
  }
  .jb-driver {
    grid-area: driver;
  }
  .jb-comment {
    grid-area: comment;
  }
}

/* visit details css grid */

.vd-s-card {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    'jobid place date'
    'time time status'
    'address address address'
    'driver driver driver'
    'pdf pdf pdf'
    'comment comment comment';
  gap: 15px 25px;
  /* grid-template-columns: auto auto auto 1fr auto auto auto;
  grid-template-areas:
    'jobid time date driver driver divider status'
    'jobid place address address pdf divider comment';
  gap: 24px 32px;
 */

  .vd-jobid {
    grid-area: jobid;
  }
  .vd-time {
    grid-area: time;
  }
  .vd-date {
    grid-area: date;
  }
  .vd-driver {
    grid-area: driver;
  }
  .vd-status {
    grid-area: status;
  }
  .vd-place {
    grid-area: place;
  }
  .vd-address {
    grid-area: address;
  }
  .vd-pdf {
    grid-area: pdf;
  }
  .vd-comment {
    grid-area: comment;
  }
  .vd-divider {
    grid-area: divider;
  }
}

@media screen and (min-width: 1280px) {
  .vd-s-card {
    display: grid;
    grid-template-columns: auto auto auto 1fr auto auto auto;
    grid-template-areas:
      'jobid time date driver driver divider status'
      'jobid place address address pdf divider comment';
    gap: 24px 32px;
  }
}
